<div class="page-criar-ficha">
  <form [formGroup]="form">
    <h1>Cabeçalho</h1>

    <section class="input-wrapper ficha-header" formGroupName="cabecalho">
      <div class="input-container">
        <div class="input-component">
          <label>Nome do jogador</label>
          <input formControlName="nomeJogador" type="text" id="nomeJogador" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomeJogador')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label>Nome do personagem</label>
          <input
            formControlName="nomePersonagem"
            type="text"
            id="nomePersonagem"
          />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomePersonagem')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label>Nome do sistema</label>
          <input formControlName="nomeSistema" type="text" id="nomeSistema" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomeSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label>Link do sistema</label>
          <input formControlName="linkSistema" type="text" id="linkSistema" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('linkSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label>Criador do sistema</label>
          <input
            formControlName="criadorSistema"
            type="text"
            id="criadorSistema"
          />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('criadorSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label>Alinhamento</label>
          <input formControlName="alinhamento" type="text" id="alinhamento" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('alinhamento')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label>Idade</label>
          <input formControlName="idade" type="text" id="idade" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('idade')?.invalid"
          >Campo Obrigatório</small
        >
      </div>
    </section>

    <section class="sections" formArrayName="sessoes">
      <div
        class="section-item"
        *ngFor="let sessoes of controlFormArraySessoes.controls; let i = index"
        [formGroupName]="i"
      >
        <h2>{{ exibeNomeSessoes(i) }}</h2>
        <div class="section-item-inputs">
          <div class="input-wrapper" formArrayName="atributos">
            <div
              class="input-container"
              *ngFor="
                let atributo of controlFormArrayAtributos(i).controls;
                let j = index
              "
            >
              <div class="input-component">
                <label>{{ exibeNomeAtributo(i, j) }}</label>
                <input [formControlName]="j" type="text" />
              </div>
              <small class="error-message" *ngIf="atributo.invalid"
                >Campo Obrigatório</small
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="calculos" formArrayName="calculos">
      <h2>Valores para calculos automaticos</h2>
    </section>
  </form>
  <div class="button-container">
    <button class="button-type-1" (click)="submit()">Salvar</button>
  </div>
</div>
