<div class="page-criar-ficha">
  <form [formGroup]="form">
    <h1 class="title-color">Cabeçalho</h1>

    <section class="input-wrapper ficha-header" formGroupName="cabecalho">
      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Nome do jogador</label>
          <input formControlName="nomeJogador" type="text" id="nomeJogador" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomeJogador')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Nome do personagem</label>
          <input
            formControlName="nomePersonagem"
            type="text"
            id="nomePersonagem"
          />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomePersonagem')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Nome do sistema</label>
          <input formControlName="nomeSistema" type="text" id="nomeSistema" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomeSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Link do sistema</label>
          <input formControlName="linkSistema" type="text" id="linkSistema" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('linkSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Criador do sistema</label>
          <input
            formControlName="criadorSistema"
            type="text"
            id="criadorSistema"
          />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('criadorSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Alinhamento</label>
          <input formControlName="alinhamento" type="text" id="alinhamento" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('alinhamento')?.invalid"
          >Campo Obrigatório</small
        >
      </div>

      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Idade</label>
          <input formControlName="idade" type="text" id="idade" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('idade')?.invalid"
          >Campo Obrigatório</small
        >
      </div>
    </section>

    <section class="sections" formArrayName="sessoes">
      <div
        class="section-item"
        *ngFor="let sessoes of controlFormArraySessoes.controls; let i = index"
        [formGroupName]="i"
      >
        <h2 class="title-color">{{ exibeNomeSessoes(i) }}</h2>
        <div class="section-item-inputs">
          <div class="input-wrapper" formArrayName="atributos">
            <div
              class="input-container"
              *ngFor="
                let atributo of controlFormArrayAtributos(i).controls;
                let j = index
              "
            >
              <div class="input-component">
                <label class="label-color">{{ exibeNomeAtributo(i, j) }}</label>
                <input [formControlName]="j" type="text" />
              </div>
              <small class="error-message" *ngIf="atributo.invalid"
                >Campo Obrigatório</small
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="calculos">
      <h2 class="title-color">Valores para cálculos de atributos</h2>
      <div class="section-item-inputs">
        <div class="input-wrapper" formArrayName="calculos">
          <div
            class="input-container"
            *ngFor="
              let calculo of controlFormArrayCalculos.controls;
              let j = index
            "
          >
            <div class="input-component">
              <label class="label-color">{{ exibeNomeCalculo(j) }}</label>
              <input [formControlName]="j" type="text" />
            </div>
            <small class="error-message" *ngIf="calculo.invalid"
              >Campo Obrigatório</small
            >
          </div>
        </div>
      </div>
    </section>
    <section class="calculos">
      <div class="display-flex align-items-center">
        <h2 class="title-color">Habilidades</h2>
        <button class="add-button" (click)="addHabilidadeFormControl()">
          Adicionar nova habilidade
        </button>
      </div>

      <div class="section-item-inputs">
        <div class="input-wrapper" formArrayName="habilidades">
          <div
            class="input-container habilidade-width position-relative"
            *ngFor="
              let habilidade of controlFormArrayHabilidades.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            <div class="input-component position-relative">
              <label class="label-color">Nome da Habilidade</label>
              <input [formControlName]="'nomeHabilidade'" type="text" />
            </div>
            <i
              class="fa fa-minus-circle remove-button"
              aria-hidden="true"
              (click)="removeHabilidade(i)"
              *ngIf="i > 0"
            ></i>
            <div class="input-component">
              <label class="label-color margin-top-10"
                >Descricão da habilidade</label
              >
              <textarea [formControlName]="'descricaoHabilidade'"></textarea>
              <small class="error-message" *ngIf="habilidade.invalid"
                >Campo Obrigatório</small
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
  <div class="button-container">
    <button class="button-type-1">Salvar</button>
  </div>
</div>
