@import 'src/assets/styles/variables';

section{
  margin-top: 40px;
  padding-top: 68px;
  width: 291px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form{
    select{
      margin-bottom: 80px;
    }
  }

  button{
    width: 200px;
    margin: 0 auto;
  }
}


