<div class="page-criar-sistema">
  <form [formGroup]="form">
    <h1 class="title-color">Cabeçalho</h1>

    <section class="input-wrapper ficha-header" formGroupName="cabecalho">
      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Digite o nome do sistema</label>
          <input formControlName="nomeSistema" type="text" id="nomeSistema" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('nomeSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>
      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Digite o link do sistema</label>
          <input formControlName="linkSistema" type="text" id="linkSistema" />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('linkSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>
      <div class="input-container">
        <div class="input-component">
          <label class="label-color">Digite o nome do criador</label>
          <input
            formControlName="criadorSistema"
            type="text"
            id="criadorSistema"
          />
        </div>
        <small
          class="error-message"
          *ngIf="form.get('cabecalho')?.get('criadorSistema')?.invalid"
          >Campo Obrigatório</small
        >
      </div>
    </section>

    <section class="sections" formArrayName="sessoes">
      <div class="display-flex align-items-center">
        <h2 class="title-color">Seções</h2>
        <button class="add-button" (click)="addSection()">
          Adicionar nova seção
        </button>
      </div>
      <p class="p-info-session">
        Caso queira adicionar uma nova seção clique no botão de + ao lado do
        nome da seção. OBS: seção de habilidades já inclusa. não é necessário
        adicionar uma nova
      </p>
      <div
        class="section-item"
        *ngFor="let control of controlFormArraySessoes.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="input-container nomeSessao">
          <div class="input-component position-relative">
            <label class="label-color">Digite o nome da seção</label>
            <input formControlName="nomeSessao" type="text" />
            <i
              class="fa fa-minus-circle remove-button"
              aria-hidden="true"
              (click)="removeSection(i, 'sessoes')"
              *ngIf="i > 0"
            ></i>
          </div>
          <small
            class="error-message"
            *ngIf="control.get('nomeSessao')?.invalid"
            >Campo Obrigatório</small
          >
        </div>
        <div class="section-item-inputs">
          <div class="display-flex align-items-center">
            <p>Adicione quantos elementos achar necessário para esta seção</p>
          </div>
          <button class="add-button margin-bottom-20 no-margin" (click)="addFormControlAtributos(i)">
            Adicionar novo atributo
          </button>

          <div
            class="input-wrapper"
            formArrayName="atributos"
            *ngIf="controlFormArrayAtributos(i).length > 0"
          >
            <div
              class="input-container"
              *ngFor="
                let atributo of controlFormArrayAtributos(i).controls;
                let j = index
              "
            >
              <div class="input-component position-relative">
                <label class="label-color">Digite o nome do atributo</label>
                <input [formControlName]="j" type="text" />
                <i
                  class="fa fa-minus-circle remove-button"
                  aria-hidden="true"
                  (click)="removeFormControl(i, j)"
                  *ngIf="j > 0"
                ></i>
              </div>
              <small class="error-message" *ngIf="atributo.invalid"
                >Campo Obrigatório</small
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="calculos">
      <h2 class="title-color">Valores para cálculos de atributos</h2>
      <div class="info-calculo">
        <p>Adicione quantos valores calculados devem ter na ficha</p>
        <button class="add-button no-margin margin-bottom-20" (click)="addCalcFormControl()">Adicionar novo calculo</button>
      </div>
      <div class="input-wrapper" formArrayName="calculos">
        <div
          class="input-container"
          *ngFor="
            let control of controlFormArrayCalculos.controls;
            let i = index
          "
        >
          <div class="input-component position-relative">
            <label class="label-color">exemplo: HP</label>
            <input
              [formControlName]="i"
              type="text"
            />
            <i
              class="fa fa-minus-circle remove-button"
              aria-hidden="true"
              (click)="removeSection(i, 'calculos')"
              *ngIf="i > 0"
            ></i>
          </div>
          <small class="error-message" *ngIf="control.invalid"
            >Campo Obrigatório</small
          >
        </div>
      </div>
    </section>
  </form>
  <div class="button-container">
    <button class="button-type-1" (click)="submit()">Salvar</button>
  </div>
</div>
