@import "includes";

body {
  background-color: $color-primary;
  padding: 30px;
  margin: 0;

  @media (min-width: 1200px) {
    padding: 60px;
  }
}

.input-container {
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.input-component {
  label {
    display: block;
    font-size: 16px;
  }
  input,
  textarea {
    display: block;
    border-radius: 100px;
    border: 1px solid #ebeef2;
    outline: none;
    padding:
    12px 24px 12px 24px;
    background-color: #ffffff;

    &::placeholder {
      color: $color-primary;
    }
  }

  textarea {
    border-radius: 28px;
    height: 270px;
    resize: none;
  }
}

select {
  padding: 10px;
  background-color: $color-secondary;
  border: none;
  outline: none;
  font-size: 12px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.button-type-1 {
  border-radius: 8px;
  padding: 10px;
  background-color: $color-tertiary;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  transition: 400ms;
}

.sections {
  p {
    font-size: 12px;
    font-weight: 700;
  }
  .section-item-inputs {
  }
}

.info-calculo{
  @media (min-width: 768px) {
    padding-left: 60px;
  }
}
.add-button {
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  font-size: 14px;
  cursor: pointer;
  border: none;
  margin-left: 14px;
  @media (min-width: 768px) {
    padding: 14px 42px 14px 42px;
  }
}

.remove-button {
  color: $color-quaternary;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 40px;
}

.ficha-header {
  margin-bottom: 24px;

  .input-component {
    display: flex;
    flex-direction: column;
  }
}

.section-item {
  margin-top: 24px;
  margin-bottom: 40px;

  .input-component {
    display: flex;
    flex-direction: column;
  }

  .nomeSessao {
    @media (min-width: 768px) {
      width: 526px;
    }
  }
}

.calculos {
  .input-wrapper {
    .input-component {
      display: flex;
      flex-direction: column;
    }
  }
}

.error-message {
  margin: 0;
  margin-left: 15px;
  color: $color-quaternary;
}

.no-margin {
  margin: 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.title-color {
  color: $color-tertiary;
}

.label-color {
  margin-left: 15px;
  color: #c0c0c0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}


.margin-negative{
  margin-left: -40px;
}

.margin-top-10{
  margin-top: 10px;
}


.habilidade-width{
  @media (min-width: 768px) {
    width: 300px;
  }
}
